* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
}

footer {
    padding: 1rem;
    align-self: center;
}

.content {
    flex: 1;
}

nav {
    display: flex;
    flex: .3;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 1em;
}

.hidden_todo {
    display: none;
}